<div th:fragment="foot">
<footer class="p-3 bg-dark text-white border-bottom">
    <div class="row">
        <div class="col-md-3"></div>

        <div class=" col-md-2">
            <svg class="bi" width="40" height="32" color="#DC3545" role="img" aria-label="Bootstrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                    <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                </svg>
            <small class="d-block mb-3 text-muted">© 2022</small>
            </svg>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none">ООО "Домовик"</a></li>
                <li><a class="link-secondary text-decoration-none">ОГРН: 3236004789105</a></li>

            </ul>
        </div>
        <div class="col-md-2">
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-decoration-none">350912, ТРЦ OZ Mall, город Краснодар, улица Крылатая, дом 2</a></li>
            </ul>
        </div>

    </div>
</footer>
</div>